[BOT]
Token = "TOKEN"
Guild = "GUILD"
Channel_ID ="CHANNEL_ID"
Dev = False

[UPDATE]
Url = https://github.com/zicy/DiscordBot/archive/master.zip
SaveFile = update.zip

[SCRIPT]
Path = /home/minecraft/script/

[DATABASE]
Host = localhost
User = login
Password = Password
Database = Database

[MONITOR]
Interval = 600