[BOT]
Token = "TOKEN"
Guild = "GUILD"
Channel_ID ="CHANNEL_ID"
AdminNotificationChannel = 0000000000
Dev = False

[UPDATE]
Url = https://github.com/zicy/DiscordBot/archive/master.zip
SaveFile = update.zip

[SCRIPT]
Path = /home/minecraft/script/

[DATABASE]
Host = localhost
User = login
Password = Password
Database = Database

[MONITOR]
Interval = 600

[MONITOR_STATUS]


[ACTIVITY]
Update = 60

[MC_CHAT_CLEANUP]
Interval = 600
CleanupTime = 1
Channel_ID = 000000000000